/*
	text-shadow ： none | <length> none | [<shadow>, ] * <shadow> 或none | <color> [, <color> ]*
	也就是：
	text-shadow:[颜色(Color)  x轴(X Offset) y轴(Y Offset) 模糊半径(Blur)],[颜色(color) x轴(X Offset) y轴(Y Offset) 模糊半径(Blur)]...
	或者
	text-shadow:[x轴(X Offset) y轴(Y Offset)  模糊半径(Blur)  颜色(Color)],[x轴(X Offset) y轴(Y Offset)  模糊半径(Blur)  颜色(Color)]...
*/
/*
	-moz-linear-gradient( [<point> || <angle>,]? <stop>, <stop> [, <stop>]* )

*/
.gradinet {
	width: 100%;
	height: 80px;
}
.linear-gradinet {
	background: -webkit-linear-gradient(#ccc, #000);
	background: -o-linear-gradient(#ccc, #000);
	background: linear-gradient(#ccc, #000);
}

.linear-gradinet-left {
	background:-webkit-linear-gradient(left, #ace, #f96);
	background:-o-linear-gradient(left, #ace, #f96);
	background:linear-gradient(to right, #ace, #f96);/*new gradient for Webkit*/
}

.linear-gradinet-top {
	background:-webkit-linear-gradient(#ace, #f96);
	background:-o-linear-gradient(#ace, #f96);
	background:linear-gradient(#ace, #f96);/*new gradient for Webkit*/
}

.linear-gradinet-left-top {
	background:-webkit-linear-gradient(top left, #ace, #f96);
	background:-o-linear-gradient(top left, #ace, #f96);
	background:linear-gradient(to bottom right, #ace, #f96);/*new gradient for Webkit*/
}

.linear-gradinet-left-even {
	background: -webkit-linear-gradient(left, #ace, #f96, #ace, #f96, #ace);
	background: -o-linear-gradient(left, #ace, #f96, #ace, #f96, #ace);
	background: linear-gradient(to right, #ace, #f96, #ace, #f96, #ace); 
}

.line-gradient-Arb {
	background: -webkit-linear-gradient(left, #ace, #f96 5%, #ace, #f96 95%, #ace);
	background: -o-linear-gradient(left, #ace, #f96 5%, #ace, #f96 95%, #ace);
	background: linear-gradient(to right, #ace, #f96 5%, #ace, #f96 95%, #ace); 
}

.line-gradient-30deg {
	background: -webkit-linear-gradient(30deg, #ace, #f96);
	background: -o-linear-gradient(30deg, #ace, #f96);
	background: linear-gradient(30deg, #ace, #f96);
}
.line-gradient-deg0 {
  background: -moz-linear-gradient(0deg, #ace, #f96);
  background: -webkit-gradient(linear,0 50%,100% 50%,from(#ace),to(#f96));
  background: -webkit-linear-gradient(0deg, #ace, #f96);
  background: -o-linear-gradient(0deg, #ace, #f96);
}
    
.line-gradient-deg45 {
  background: -moz-linear-gradient(45deg, #ace, #f96);
  background: -webkit-gradient(linear,0 100%,100% 0%,from(#ace),to(#f96));
  background: -webkit-linear-gradient(45deg, #ace, #f96);
  background: -o-linear-gradient(45deg, #ace, #f96);
}
.line-gradient-deg90 {
  background: -moz-linear-gradient(90deg, #ace, #f96);
  background: -webkit-gradient(linear,50% 100%,50% 0%,from(#ace),to(#f96));
  background: -webkit-linear-gradient(90deg, #ace, #f96);
  background: -o-linear-gradient(90deg, #ace, #f96);
}
.line-gradient-deg135 {
  background: -moz-linear-gradient(135deg, #ace, #f96);
  background: -webkit-gradient(linear,100% 100%,0 0,from(#ace),to(#f96));
  background: -webkit-linear-gradient(135deg, #ace, #f96);
  background: -o-linear-gradient(135deg, #ace, #f96);
}
.line-gradient-deg180 {
  background: -moz-linear-gradient(180deg, #ace, #f96);
  background: -webkit-gradient(linear,100% 50%,0 50%,from(#ace),to(#f96));
  background: -webkit-linear-gradient(180deg, #ace, #f96);
  background: -o-linear-gradient(180deg, #ace, #f96);
}
.line-gradient-deg225 {
  background: -moz-linear-gradient(225deg, #ace, #f96);
  background: -webkit-gradient(linear,100% 0%,0 100%,from(#ace),to(#f96));
  background: -webkit-linear-gradient(225deg, #ace, #f96);
  background: -o-linear-gradient(225deg, #ace, #f96);
}
.line-gradient-deg270 {
  background: -moz-linear-gradient(270deg, #ace, #f96);
  background: -webkit-gradient(linear,50% 0%,50% 100%,from(#ace),to(#f96));
  background: -webkit-linear-gradient(270deg, #ace, #f96);
  background: -o-linear-gradient(270deg, #ace, #f96);
}
.line-gradient-deg315 {
  background: -moz-linear-gradient(315deg, #ace, #f96);
  background: -webkit-gradient(linear,0% 0%,100% 100%,from(#ace),to(#f96));
  background: -webkit-linear-gradient(315deg, #ace, #f96);
  background: -o-linear-gradient(315deg, #ace, #f96);
}
.line-gradient-deg360 {
  background: -moz-linear-gradient(360deg, #ace, #f96);
  background: -webkit-gradient(linear,0 50%,100% 50%,from(#ace),to(#f96));
  background: -webkit-linear-gradient(360deg, #ace, #f96);
  background: -o-linear-gradient(360deg, #ace, #f96);
}

.line-gradient-alpha {
	background: -moz-linear-gradient(right, rgba(255,255,255,0), rgba(255,255,255,1)),url(http://demos.hacks.mozilla.org/openweb/resources/images/patterns/flowers-pattern.jpg);
	background: -webkit-linear-gradient(right, rgba(255,255,255,0), rgba(255,255,255,1)),url(http://demos.hacks.mozilla.org/openweb/resources/images/patterns/flowers-pattern.jpg);
	background: -o-linear-gradient(right, rgba(255,255,255,0), rgba(255,255,255,1)),url(http://demos.hacks.mozilla.org/openweb/resources/images/patterns/flowers-pattern.jpg);
}

.radial-gradient {
	background: -webkit-radial-gradient(#ace, #f96, #1E90FF);
}
.radial-gradient {
	background: -webkit-radial-gradient(#ace 5%, #f96 25%, #1E90FF 50%);
	background: -webkit-radial-gradient(bottom left, circle, #ace, #f96, #1E90FF);
	background: -webkit-radial-gradient(bottom left, ellipse, #ace, #f96, #1E90FF);
	background: -webkit-radial-gradient(ellipse closest-side, #ace, #f96 10%, #1E90FF 50%, #f96);
	background: -webkit-radial-gradient(ellipse farthest-corner, #ace, #f96 10%, #1E90FF 50%, #f96);
	background: -webkit-radial-gradient(circle closest-side, #ace, #f96 10%, #1E90FF 50%, #f96);
	background: -webkit-radial-gradient(circle farthest-side, #ace, #f96 10%, #1E90FF 50%, #f96);
	background: -webkit-radial-gradient(#ace, #f96, #1E90FF);
	background: -webkit-radial-gradient(contain, #ace, #f96, #1E90FF);
}

