*{
	margin: 0;
	padding: 0;
}
.demo {
	width: 200px;
	height: 200px;
	margin: 10px;
	text-align: center;
	line-height: 200px;
	display: inline-block;
}

.demo-block {
	width: 200px;
	height: 200px;
	margin: 40px auto;
	text-align: center;
	line-height: 200px;
}

.demo-normal {
	width: 300px;
	height: 300px;
	margin: 40px auto;
}